body {
    box-sizing: border-box;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #212222;
    font-size: 1rem; 
    margin: 0 auto;
}



.borderBottomBlue {
    border-bottom: 1px solid #8edcf0;
}
.borderBottomWhite {
    border-bottom: 1px solid #ffffff;
}

.textJustify {
    text-align: center;
    word-spacing: 2px;
}


/* NAVIGATION */

.navbar {
    background-color: transparent;
    position: fixed;
    height: 70px;
}

.navBarScroll {
    background-color: #212222;
    z-index: 1;
    
}

.navimg {
    animation: myAnim 3s ease 0s infinite normal forwards;
}

.navLink {
    width: max-content;
    margin: 0 auto;
    font-size: 1.3rem;
}



.linkOnHover:hover{
    border-bottom: 1px solid #8edcf0;
   
}

.navButton{
    border: none;
}

.toggleIcon {
    font-size: 40px;
    color: #ffffff;
    
}

.dropMenu {
    background-color: #212222;
    border: none;
}


.dropMenu a {
    color: white;
    text-align: center;
    
}

.dropOmeniBg{
    background-color: #212222;
    border: none;
}

.dropOmeniList:hover {
    background-color: #464747;
    
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1;
}



/* HERO SECTION */

#hero-section{
    width: 100%;
    height: 100vh;
    background-image: url(./img/heroBg.jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 0 25px;
    user-select: none;
    
}

.dobrodosli {
    font-size: 10rem;
    animation: dobrodosli 3.5s ease 0s 1 normal forwards;
    
}

.heroText {
    font-size: 4rem;
    
}




/* MAIN PAGE SEC */



#oMeni, #kontakt{
    height: max-content;
    padding-top: 100px;
}

.headingOMeni {
    font-size: 3rem;
    width: 50%;
    
}

.oMeniHeadImg {
    width: 30%;
    
}

.ulListStyle {
    font-size: 1rem;
    
}

.listStyle {
    list-style-type: none;
}

.listStyle a {
    text-decoration: none;
    color: white;
}

#projekti {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-color: #8edcf0 #303131;
    scrollbar-width:auto;
}


.oMeniCard {
    background-color: #303131;
    width: 25rem;
    border-radius: 10px;
}

.projektiHeading {
    font-size: 2.5rem;
    
}

.projektiContent{
    display: inline-block;
}

.projektiTechImg {
    width: 25px;
}

.projektiBtn {
    background-color: #8edcf0;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.projektiBtn:hover {
    background-color: #303131;
    color: white;
    border: 1px solid white;
}

.projektiRowPadding {
    padding-bottom: 72px;
}



/* .modal-dialog{
    overflow-y: initial !important
}
.modal-content{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
} */

#blog {
    padding-top: 100px;
}



.blogImg {
    width: 40%;
    border-radius: 10px 0 0 10px;
}

.blogHeading {
    font-size: 1.4rem;
}


.blogCard {
    background-color: #303131;
    color: white;
    
}

.openModalAnchor {
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.pročitajCijeliČlanak {
    font-style: italic;
    color: #8edcf0;
}

.modal-content {
    background-color: #303131;
}

.modalHeading {
    font-size: 2rem;
}

.modalCloseBtn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
}

.modal-content {
    height: 100vh !important;
    width: 100vw !important;
}

.blogContentImgSize {
    width: 300px;
    
}

.blogContentImgBorderRadius {
    border-radius: 50%;
}

.contactIntro {
    font-size: 1.5rem;
    
}

.socialMediaImg {
    width: 180px;
    
}

.socialMediaImg:hover {
    transform: scale(1.1);
    transition: 500ms ease;
    
}

.form-control:focus {
    
    border: 2px solid rgb(142, 220, 240) !important;
    box-shadow: inset 0px 1px 1px rgb(142, 220, 240), 0 0 4px rgb(142, 220, 240) !important;
  }

  footer {
    background-color: #303131;
  }

  form {
    background-color: #303131;
    border-radius: 15px;
    padding: 20px 0 20px 0;
  }


/********** MEDIA QUERY-s **********/

@media (max-width: 1199.98px) {
    .dobrodosli {
        font-size: 8rem;
    }
    
    .heroText {
        font-size: 4rem;
    }

    

    .headingOMeni{
        font-size: 3rem;
    }
    
}

@media (max-width: 991.98px) {

    .quoteLine {
        font-size: 1.6rem
    }
    .dobrodosli {
        font-size: 6rem;
    }
    
    .heroText {
        font-size: 3rem;
    }

    

    .headingOMeni{
        font-size: 2rem;
    }

    .orderFirst {
        order: 1;
    }

    .orderSecond {
        order: 2;
    }

    .projektiImg {
        padding-bottom: 2rem;
    }

    .modalHeading {
        font-size: 1.5rem;
    }
    
    .socialMediaHeading{
        margin-top: 48px;
    }
}

@media (max-width: 767.98px) {

   .bgNav, .navbar {
    background-color: #212222;
   }

    .linkOnHover{
        border-bottom: 1px solid #ffffff;
        border-radius: 0px;
    }
    
    #hero-section{
        flex-wrap: wrap;
        justify-content: space-around;
        
        }
    .quoteLine {
        font-size: 1rem
        }
    .dobrodosli {
        font-size: 4.5rem;
        }
        
    .heroText {
        font-size: 2.5rem;
        }
  
    .oMeniHeadImg {
        width: 60%;
        margin: 0 auto;
        padding: 0;
    }

    .modalHeading {
        font-size: 1.1rem;
    }
    
}

@media (max-width: 575.98px) {

    .navLink {
     
        font-size: 0.5rem;
    }
   
    #hero-section{
        background-position: right;
        height: 85vh;
      
    }
    .navItemPadd {
        padding-bottom: 10px;
    }

    .dobrodosli {
        font-size: 2.5rem;
    }
    
    .heroText {
        font-size: 1.5rem;
    }

    .modalHeading {
        font-size: 0.8rem;
    }
    
   
   
}
@keyframes dobrodosli {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

